<ion-content>
  <div class="container-logo">
      <img src="/assets/img/logo.svg"> 
  </div>
  <ion-item-divider sticky="true">
    <ion-label></ion-label>
  </ion-item-divider>
  <div class="container-titulo">
    <h1>Te Llevo App</h1>
  </div>
  <div class="container-form">
    <div class="input-usuario">
      <label>Nombre de usuario</label>
    </div>
    <ion-input type="text" ></ion-input>
    
  </div>
  <div class="container-button">
    <ion-button class="regresar" expand="block" fill="clear" shape="round" [routerLink]="['/login']">
      Regresar
    </ion-button>
    <ion-button class="enviar" expand="block" fill="clear" shape="round" >
      Enviar
    </ion-button>   
  </div>
</ion-content>
