<ion-content>
  <div class="container-logo">
      <img src="/assets/img/logo.svg"> 
  </div>
  <ion-item-divider sticky="true">
    <ion-label></ion-label>
  </ion-item-divider>
  <div class="container-titulo">
    <h1>Te Llevo App</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-label>Nombre de usuario</ion-label> 
    <ion-item>
      <ion-input formControlName="username" ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div *ngIf= "
              loginForm.get('username').hasError(validation.type) &&
              (loginForm.get('username').dirty ||
              loginForm.get('username').touched)
        ">
        <p>{{validation.message}}</p>
        </div>
      </ng-container>
    </div>
    <div class="ion-margin-top">
      <ion-label >Contraseña</ion-label> 
    </div>
    <ion-item>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="
        loginForm.get('password').hasError(validation.type) &&
        (loginForm.get('password').dirty ||
        loginForm.get('password').touched)
          ">
          <p>{{validation.message}}</p>
        </div>
      </ng-container>
    </div>
    <div class="container-button">
      <ion-button 
      expand="block" 
      fill="clear" 
      shape="round"
      [disabled]="!loginForm.valid"
      type="submit"
      >
        Iniciar sesión
      </ion-button>
    </div>
  </form>
  <div class="container-recuperar-contrasena">
    <p class="ion-text-center">¿Olvidaste tu contraseña? <a [routerLink]="['/recuperar-password']">Pulsa aquí</a></p>
  </div>
</ion-content>